@font-face {
	font-family: sanhucyyuan;
	src: url('~@/static/font/sanjicuyuanjiti.ttf');
	/* src: url('https://raw.githubusercontent.com/DuanJiaNing/issue-ui/master/static/font/%E4%B8%89%E6%9E%81%E7%B2%97%E5%9C%86%E7%AE%80%E4%BD%93.ttf') */
}

page {
	font-family: sanhucyyuan;
	letter-spacing: 1px;
	background: linear-gradient(#000000, #3e3e3e);
	ackground-position: center center;
	background-attachment: fixed;
	background-size: cover;
	/* background-color: #000000; */
}

.content {
	padding-left: 30upx;
	padding-right: 30upx;
}

.hr {
	height: 1px;
	background-color: #464646;
}

/* colorful-stripe start*/
.colorful-stripe {
	background:
		linear-gradient(#54B1F7, transparent),
		linear-gradient(90deg, #09BB07, transparent),
		linear-gradient(-90deg, #EC559E, transparent);
	background-blend-mode: screen;
	-webkit-animation: colorfulStripeChange 5s infinite alternate linear;
	animation: colorfulStripeChange 5s infinite alternate linear;
}

@-webkit-keyframes colorfulStripeChange {
	100% {
		-webkit-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}

@keyframes colorfulStripeChange {
	100% {
		-webkit-filter: hue-rotate(360deg);
		filter: hue-rotate(360deg);
	}
}

/* colorful-stripe end*/
